#container1 {
	text-align: center;
  width: 50%;
  float: left;
  font-family: Perpetua;


}

#c1 {
  width: 100%;
  margin-bottom: -100px;
  font-family: Cambria;
} 

#container2 {
	text-align: center;
  margin-left: 50%;
  margin-bottom: 150px;
  padding-bottom: 25px;

 
	
}

#container3 {
	text-align: left;
	padding: 20px;
  width: 50%;
}
/*
#container4 {
  text-align: left;
  padding: 50px;
  width: 50%;
  border: 1px dashed;
}
*/
}

#data-source{
  font-family: Courier;
  font-size: 12px;
  height: 400px;


}

#data-notes {
	width:50%;
  padding: 20px;
  text-align: left; 
  font-size: 16px;
  font-family:  Lucida Bright;
	
}

.states {
	stroke: #fff; 
	stroke-width:1px;
}

.states:hover{
	stroke: #000;
	stroke-width:1px;
	opacity: .2;
}

#hypothesis {
  font-size: 20px;
  font-family: Courier New;
  margin-left: 20px;
}

table {
	border-collapse: collapse;
  width: 70%;
  font-size: 16px;
  text-align: center;

}

table th{
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: left;
	border: 2px solid #ddd;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 10px;
}

#title {
  text-align: center;
  font-family: Copperplate;
  font-size: 40px;

}

.tooltip1 { 
  position: absolute;     
  text-align: center;              
  padding: 2px;       
  font: 12px sans-serif;    
  background: #fff; 
  border: 0px;        
  pointer-events: none; 	
  border: solid, 1px; 
  font-family: Georgia;
  background-color: white; 
  padding: 10px;
  /*border: 1px solid; */
 /* border-color: black; */
  text-align: left;
}
.tooltip2 {
  position: absolute;
  padding: 2px;       
  font: 12px sans-serif;    
  background: #fff; 
  border: 0px;        
  pointer-events: none;   
  border: solid, 1px; 
  font-family: Georgia;
  background-color: white; 
  padding: 10px;
  text-align: left;

}

.tooltip3 {
  position: absolute;
  padding: 2px;       
  font: 12px sans-serif;    
  background: #fff; 
  border: 0px;        
  pointer-events: none;   
  border: solid, 1px; 
  font-family: Georgia;
  background-color: white; 
  padding: 10px;
  text-align: left;

}



#container3 {
      width: 50%;
      float: left;
    }
#container4 {
  margin-left: 50%;
  /* Change this to whatever the width of your left column is*/
}
.clear {
  clear: both;
  
}